@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  }
}

.hideBtn {
  transform: translateY(100px);
  opacity: 0;
}